body {
	text-align: center;
	background-color: black;
}

.pic_text { 	
	background: url(../images/misty_mount.jpg) 90% 20%;
	background-size: cover;
}
.pic_text h1 { 
	font-size: 150px;
	color: #fff;
	background: #000;
	mix-blend-mode: darken;
	font-family: 'Quintessential', cursive;
}

h3, p, span {
	font-size: 25px;
	font-family: 'Handlee', cursive;
}

#tried_letters {
	color: red;
}
#curr_pattern {
	color: green;
}
#score, #guesses {
	color: blue;
}
#answer {
	font-size: 50px;
	font-family: 'Handlee', cursive;
	font-weight: bold;
	padding-bottom: 25px;
	padding-top: 0px;
}

#content {
	background: url(../images/scroll2.jpeg) 90% 200%;
	background-position: center;
	background-repeat: no-repeat;
	width: 1000px;
	height: 800px;
	padding-top: 120px;
	padding-bottom: 100px;
	padding-right: 10px;
	padding-left: 50px;
}

#theme_title span {
    color: #f2ce9f;
    font-size: 70px;
    font-family: 'Niconne', cursive;
}

#game_picture {
	width: 350px;
	border-radius : 10px;
	border: 2px solid black;
}

.ring_pic {
	width: 100px;
	height: 100px;
	padding: 0px 20px 20px 20px;
}

#finish {
	padding-bottom: 10px;
	padding-bottom: 10px;
	font-size: 30px;
	font-weight: bold;
}

/* =============== */

@media screen and (max-width: 980px) {
	.pic_text h1 {
		font-size: 100px;
	}
	#theme_title span {
    	font-size: 30px;
	}
}
@media screen and (max-width: 768px) {
	.pic_text h1 {
		font-size: 90px;
	}
	#theme_title span {
		font-size: 25px;
	}
}
@media screen and (max-width: 640px) {
	.pic_text h1 {
		font-size: 80px;
	}
	#theme_title span {
		font-size: 25px;
	}
}