h1, h3 {
	font-size: 30px;
}
h3 {
	font-size: 25px;
}
p {
	font-size: 23px;
}

#tried_letters {
	color: red;
}
#curr_pattern {
	color: green;
}
#score {
	color: blue;
}
#guesses {
	color: blue;
}
#answer {
	color: blue;
}